<h1>Gerenciar {{ title }}</h1>

<button mat-button [matMenuTriggerFor]="menu">Selecionar Colunas</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let column of columns">
    <button mat-menu-item>
      <mat-checkbox [checked]="column.visibility" (change)="toggleColumn(column.label)">
        {{ column.label }}
      </mat-checkbox>
    </button>
  </ng-container>
</mat-menu>

<button mat-raised-button color="primary" (click)="logSelectedIds()">Log IDs Selecionados</button>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="toggleSelectAll($event.checked)" [checked]="this.isAllCheckboxesChecked()"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox class="checkbox-item" (change)="toggleSelection(element.id)" [checked]="isSelected(element.id)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let column of getVisibleColumns()" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>
      <div mat-sort-header>{{ column }}</div>
      <input matInput (keyup)="applyFilterByColumn($event, column)" placeholder="Filtrar...">      
    </th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getAllColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getAllColumns()"></tr>
</table>
<div style="margin: 20px 0 0 20px; float: left;">
  Página {{ currentPage }}/{{ totalPages }}
</div>
<mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
